integrations/n8n/flows/ingestion_stub.json
{
  "name": "Dragonfly Ingestion Stub",
  "nodes": [
    {
      "parameters": {
        "path": "dragonfly/ingest",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "http_trigger",
      "name": "HTTP Trigger",
      "type": "n8n-nodes-base.httpTrigger",
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "const { source, case_number } = items[0].json;\nif (!source || !case_number) {\n  throw new Error('source and case_number are required');\n}\nreturn items;"
      },
      "id": "validate_payload",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://<project-ref>.supabase.co/rest/v1/public.judgments?on_conflict=case_number",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ JSON.stringify([ { source: $json.source, case_number: $json.case_number } ]) }}",
        "headerParametersJson": "={\n  \"apikey\": \"SUPABASE_SERVICE_ROLE_KEY\",\n  \"Authorization\": \"Bearer SUPABASE_SERVICE_ROLE_KEY\",\n  \"Content-Type\": \"application/json\",\n  \"Prefer\": \"return=representation,count=exact\"\n}"
      },
      "id": "http_request",
      "name": "Supabase Insert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1
    },
    {
      "parameters": {
        "responseBody": "={{ $json }}"
      },
      "id": "webhook_response",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    }
  ],
  "connections": {
    "HTTP Trigger": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "Supabase Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Insert": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
